on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"
      - uses: subosito/flutter-action@v2

        with:
          flutter-version: "3.3.8"

      - run: echo ${{ secrets.ENV }}| base64 -d > .env
      - run: flutter --version
      - run: flutter pub get
      - run: flutter test
      - run: echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d > android/app/google-services.json
      - run: echo ${{ secrets.KEY_PROPERTIES }} | base64 -d > android/key.properties
      - run: echo ${{ secrets.KEYSTONE_JKS }} | base64 -d > android/app/keystone.jks
      - run: flutter build apk --release

      - uses: actions/upload-artifact@v3
        with:
          name: apk
          path: build/app/outputs/apk/release/app-release.apk

      - uses: actions/download-artifact@v3
        with:
          name: download screnshot
          path: build/app/outputs/apk/release/app-release.apk
